export default {
    port: 4911,
    token: "", // get from https://ipinfo.io/account/home
    ans: [
        "AS212238",
        "AS9009",
        "AS40676",
        "AS45671",
        "AS60068",
        "AS36352",
        "AS203020",
        "AS13213",
        "AS3223",
        "AS35913",
        "AS133480"
    ]
}